#clock {
	font-size: 100px;
}
body{
	text-align: center;
	font-weight: bold;                             
	margin-top: 300px;
}
button{
	padding: 20px ;
	background-color: white;
	font-size: 40px;
}